{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "func-names": 0,
    "react/prefer-stateless-function": 0
  },
  "plugins": [
    "react"
  ]
}
